 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: 13px Helvetica, Arial;
}
#localVideo {
  height: 50%;
  width: 50%;
}
#remoteVideo {
  height: 25%;
  width: 25%;
}
#input {
  padding: 3px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#message {
  border: 1;
  padding: 10px;
  width: 80%;
}
#send {
  width: 10%;
  background: rgb(130, 224, 255);
  border: none;
  padding: 10px;
}
#list {
  list-style-type: none;
  padding: 5px 10px;
}
